.button {
	padding: 25px 113px 23px 70px;
	background: $secondary-color;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border: none;
	border-radius: 35px;
	text-transform: uppercase;
	font-family: 'robotomedium', sans-serif;
  font-size: 17px;
  position: relative;
}

.button:after {
  content:'';
  width: 24px;
  height: 12px;
  background: url('../image/btn-arrow.png') no-repeat;
  position: absolute;
  right: 75px;
  top: 30px;
}
.button-round {
	padding: 35px 35px;
	display: inline-block;
	border: none;
	border-radius: 50%;
	font-family: 'robotomedium', sans-serif;
  font-size: 17px;
	background: #fe5140 url('../image/btn-arrow.png') no-repeat;
	background-position: 25px 30px;
	transform: rotate(90deg);
}