// slider

.section-who-needs .section-body {
	display: flex;
}
.section-who-needs .section-left {
	width: 35%;
}
.section-who-needs .section-right {
	width: 65%;
}


.slider-who-needs .slider-item {
	display: flex;
	flex-direction: column;
}

.slide-heading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.slide-title {
	font-style: 'robotomedium', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.slide-counter {
	font-size: 40px;
	color: $secondary-color;
	margin-left: 10px;
}
.slick-dots {
	bottom: -40px;
}
.slick-dots li {
	height: 10px;
	width: 10px;
}
.slick-dots li button {
	border-radius: 50%;
}
.slick-dots li button:before {
	content: '';
	background: #cadee9;
	height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin: 0 0 5px 5px;
  opacity: 1;
}
.slick-dots li button:hover:before {
	background: $secondary-color;
}
.slick-dots li.slick-active button:before {
	background: $secondary-color;
	opacity: 1;
}