<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/slick.css" />
    <link rel="stylesheet" type="text/css" href="../css/slick-theme.css" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="header">
        <div class="header-background"></div>
        <div class="header-decor"></div>
        <div class="header-foreground">
            <div class="container">
                <div class="header-top">
                    <div class="header-logo"><img src="../image/logo.png" alt=""></div>
                    <div class="header-nav">
                        <ul class="list list-nav">
                            <li class="list-item">Преимущества</li>
                            <li class="list-item">Внедрение</li>
                            <li class="list-item">Выгода</li>
                            <li class="list-item">Задачи</li>
                            <li class="list-item">Цена</li>
                            <li class="list-item">О компании</li>
                            <li class="list-item">Кейсы</li>
                        </ul>
                    </div>
                    <div class="header-phone">
                        <span>8 800</span> 500 44 77
                    </div>
                </div>

                <div class="header-content">
                    <div class="header-body">
                        <h1 class="header-title"><span>1С:УНФ</span> для предпринимателей онлайн</h1>
                        <p class="header-subtitle">
                            Используйте 1С УНФ бесплатно <span>30 дней,</span> внедрив программу с помощью нашей дружелюбной техподдержки <span>и 2-х часовой индивидуальной консультации</span>
                        </p>
                        <div class="title-dots dots-white"></div>
                    </div>
                    <div class="header-action">
                        <h4 class="action-title">Начните работу бесплатно</h4>
                        <a href="#" class="button">Подробнее</a>
                    </div>
                    <div class="header-move-down">
                        <a href="#" class="button-round"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="section section-advantages">
            <div class="section-background">
                <div class="section-decor"></div>
            </div>
            <div class="container">
                <div class="section-heading">
                    <h2 class="section-title">Преимущества современной облачной 1с</h2>
                    <div class="title-dots dots-gray"></div>
                </div>
                <div class="section-body">
                    <div class="list list-advantages">
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-1.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>01</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Мобильность</h3>
                                    <p class="card-description">Работайте в любом веб браузере с любого устройства</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-2.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>02</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Удобное и быстрое обслуживание</h3>
                                    <p class="card-description">Настройте функционал программы именно под ваш бизнес и меняйте в любой момент</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-3.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>03</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Кросс-девайс</h3>
                                    <p class="card-description">Пользуйтесь программой на разных устройствах с различными операционными системами, экономьте на лицензионных платежах</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-4.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>04</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Автообневление</h3>
                                    <p class="card-description">Вы не тратите время на обновление, потому что программа обновляется самостоятельно</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-5.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>05</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Бесплатное тестирование</h3>
                                    <p class="card-description">Вы полноценно опробуете программу со всеми настройками еще до покупки</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-6.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>06</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Доступность<br>по цене</h3>
                                    <p class="card-description">Вы экономите до 30% времени и снизите затраты после внедрения продукта, потому что нет необходимости приобретать сервер, програмное обеспечение, обслуживание</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="card card-advantage">
                                <div class="card-image">
                                    <img src="../image/advantage-7.png" alt="">
                                </div>
                                <div class="card-counter">
                                    <p>01</p>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Версия 1С 8.3</h3>
                                    <p class="card-description">Технологичная платформа удовлетворяет современные тенденции мирового IT-рынка
                                        <br>Интерфейс программы прост и не требует специального обучения</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-action">
                    <h4 class="action-title">Начните работу бесплатно</h4>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="section section-introduction">
            <div class="section-background"></div>
            <div class="section-decor"></div>
            <div class="section-foreground">
                <div class="container">
                    <div class="section-heading align-r">
                        <h2 class="section-title">Как происходит внедрение </h2>
                        <p class="section-subtitle">Внедрить 1С:УНФ <strong>просто и быстро!</strong></p>
                        <div class="title-dots dots-gray"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-who-needs">
            <div class="section-background"></div>
            <div class="section-foreground">
                <div class="container">
                    <div class="section-heading align-r">
                        <h2 class="section-title">Кому необходим сервис 1С:УНФ<br>и какие задачи решит?</h2>
                        <div class="title-dots dots-gray"></div>
                    </div>
                    <div class="section-body">
                        <div class="section-left"></div>
                        <div class="section-right">
                            <div class="slider slider-who-needs">
                                <div class="slider-item">
                                    <div class="slide-heading">
                                        <h3 class="slide-title">Решение</h3>
                                        <p class="slide-counter">01</p>
                                    </div>
                                    <div class="slide-body">
                                        <p class="slide-description">На старте очень легко оказаться оштрафованным, достаточно совершить незначительную ошибку в декларации или неправильно заполнить форму. <strong>Облачная 1С:УНФ поможет избежать подобных ошибок</strong>, система
                                            автоматически создает готовую декларацию и направит ее копию в налоговый орган, а также позволяет сверять отчеты от контрагентов, партнеров и внутренние данные компании. <strong>Это эффективное решение для автоматической проверки и подачи отчетов.</strong></p>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slide-heading">
                                        <h3 class="slide-title">Решение</h3>
                                        <p class="slide-counter">02</p>
                                    </div>
                                    <div class="slide-body">
                                        <p class="slide-description">На старте очень легко оказаться оштрафованным, достаточно совершить незначительную ошибку в декларации или неправильно заполнить форму. <strong>Облачная 1С:УНФ поможет избежать подобных ошибок</strong>, система
                                            автоматически создает готовую декларацию и направит ее копию в налоговый орган, а также позволяет сверять отчеты от контрагентов, партнеров и внутренние данные компании. <strong>Это эффективное решение для автоматической проверки и подачи отчетов.</strong></p>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slide-heading">
                                        <h3 class="slide-title">Решение</h3>
                                        <p class="slide-counter">03</p>
                                    </div>
                                    <div class="slide-body">
                                        <p class="slide-description">На старте очень легко оказаться оштрафованным, достаточно совершить незначительную ошибку в декларации или неправильно заполнить форму. <strong>Облачная 1С:УНФ поможет избежать подобных ошибок</strong>, система
                                            автоматически создает готовую декларацию и направит ее копию в налоговый орган, а также позволяет сверять отчеты от контрагентов, партнеров и внутренние данные компании. <strong>Это эффективное решение для автоматической проверки и подачи отчетов.</strong></p>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slide-heading">
                                        <h3 class="slide-title">Решение</h3>
                                        <p class="slide-counter">04</p>
                                    </div>
                                    <div class="slide-body">
                                        <p class="slide-description">На старте очень легко оказаться оштрафованным, достаточно совершить незначительную ошибку в декларации или неправильно заполнить форму. <strong>Облачная 1С:УНФ поможет избежать подобных ошибок</strong>, система
                                            автоматически создает готовую декларацию и направит ее копию в налоговый орган, а также позволяет сверять отчеты от контрагентов, партнеров и внутренние данные компании. <strong>Это эффективное решение для автоматической проверки и подачи отчетов.</strong></p>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slide-heading">
                                        <h3 class="slide-title">Решение</h3>
                                        <p class="slide-counter">05</p>
                                    </div>
                                    <div class="slide-body">
                                        <p class="slide-description">На старте очень легко оказаться оштрафованным, достаточно совершить незначительную ошибку в декларации или неправильно заполнить форму. <strong>Облачная 1С:УНФ поможет избежать подобных ошибок</strong>, система
                                            автоматически создает готовую декларацию и направит ее копию в налоговый орган, а также позволяет сверять отчеты от контрагентов, партнеров и внутренние данные компании. <strong>Это эффективное решение для автоматической проверки и подачи отчетов.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-action align-r">
                        <a href="#" class="button">решить задачу сейчас</a>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>